<div class="col-xs-12 col-md-12">
    {{list-paginated-links currentPage=page 
        itemsPerPage=size 
        totalItems=list.length 
        displayedPages=displayedPages 
        pageRoute=pageRoute
    }}
</div>
<div class="col-xs-12 col-md-12">
    {{yield filteredList}}
</div>