<div class="col-xs-12 col-md-12">
    {{list-paginated-links currentPage=currentPage totalPages=totalPages pageRoute=pageRoute}}
</div>
<div class="col-xs-12 col-md-12 vehicles-container">
    {{yield list}}
</div>