<div class="row">
    
    {{#vehicles-wrapper}}
    
        {{pagination-pager
            count=vehicles.meta.totalPages
            current=vehicles.meta.page
            change='pageChanged' class="center vehicles-pagination"}}

        {{#each vehicles as |vehicle|}}
            {{vehicle-row vehicle=vehicle}}
        {{/each}}
        
    {{/vehicles-wrapper}}
</div>