<div class="row">
    
    {{#list-paginated page=page size=size list=vehicles displayedPages=10 pageRoute=pageRoute as |filteredVehicles|}}
        {{#each filteredVehicles as |vehicle|}}
            {{vehicle-row vehicle=vehicle}}
        {{/each}}
    {{/list-paginated}}
        
</div>