<div class="row">
    
    {{#vehicles-pager}}
        {{pagination-pager
            count=5
            current=page
            class="center vehicles-pagination"}}

        {{#each filteredVehicles as |vehicle|}}
            {{vehicle-row vehicle=vehicle}}
        {{/each}}
    {{/vehicles-pager}}
        
</div>