<div class="container vehicle-container">
    {{#if model}} 
        <div class="row">
            <h3 class="col-md-12 col-xs-12">{{model.vehicleTitle }}</h3>
            <div class="vehicle-image col-md-6 col-xs-6">
                <img src={{model.imagePath}}/>
            </div>
            <div class="col-md-6 col-xs-6">
            </div>
        </div>
        <div class="row vehicle-details">
            <label class="col-md-12 col-xs-12">Mileage: {{model.vehicleData.mileage}}</label>
            <label class="col-md-12 col-xs-12">Asking Price: {{model.vehicleData.asking_price}}</label>
        </div>
    {{/if}}
</div>



