<div class="row">


    {{pagination-pager
        count=vehicles.meta.totalPages
        current=vehicles.meta.page
        change='pageChanged'
        urlTemplate='/vehicles?page={current}'}}

     {{!--{{page-numbers content=vehicles.meta}}--}}

    {{#each vehicles as |vehicle|}}
        {{vehicle-row vehicle=vehicle vehicleId=vehicle.vehicleMovementId bidAmount=vehicle.bidAmount}}
    {{/each}}

</div>