<div class="container"> 
  <div class="row">
    <div class="col-md-12 col-xs-12">
        <h2 id="title">Ember Application</h2>
    </div>
    <div class="col-md-12 col-xs-12">
      <ul id="menu">
        <li>{{#link-to "vehicles"}}Auction{{/link-to}}</li>
        <li>{{#link-to "vehicles-not-paged"}}Auction Not Paged{{/link-to}}</li>
        <li>{{#link-to "transportation-dashboard"}}Transportation Dashboard{{/link-to}}</li>
        <li>{{#link-to "sales-dashboard"}}Sales Dashboard{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12">
        {{outlet}}
    </div>
  </div>
</div>