<div class="row">
    <div class="col-md-12 col-xs-12">
        HELLO THIS IS MY PARENT ROUTE
    </div>
    <div class="col-md-12 col-xs-12">
        {{outlet "first"}}
    </div>
     <div class="col-md-12 col-xs-12">
        {{outlet "second"}}
    </div>


{{#vehicle-list title="title"}}
  <p class="author">HELLO</p>
{{/vehicle-list}}


</div>