<div class="row">
    <div class="col-xs-12 col-md-12 vehicles-container">
        {{#each model as |vehicle|}}
            {{#vehicle-list vehicle=vehicle}}
            {{/vehicle-list}}
        {{/each}}
    </div>
</div>