<div class="row">
    <div class="col-xs-12 col-md-12">
        <h4>Vehicle Not Found.</h4>
    </div>
</div>

<div class="row see-all-vehicles">
    {{#link-to "vehicles"}}
        <label class="col-md-12 col-xs-12">See All Vehicles</label>
    {{/link-to}}
</div>
